*{
    margin:0;
    padding:0;
}
.nav
{
    width:100%;
    height:13vh;
    background: #670BF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav img
{
    width:320px;
    height:10vh;
    
}
.nav ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width:50%;
    font-family: 'Open Sans', sans-serif;
    color:white;
    cursor: pointer;
}
.nav ul li:hover
{
    color:silver
}
.pg{
    display:flex;

}
.page
{
    width:70%;
    height:100vh;
    background-image: url("fire.webp");
    background-size:auto;
    background-attachment: fixed;
    padding:1px;
}
.page h1
{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:70px;
    font-weight: normal;
    margin-top:90px;
    margin-left:60px;
}
.page h2
{
    color:#670BF5;
    font-family: 'Montserrat', sans-serif;
    font-size:75px;
    font-weight: normal;
margin-top:-20px;
    margin-left:70px;
}
.page h3
{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size:80px;
    font-weight: normal;
margin-top:-20px;
    margin-left:170px;
}
#btn-2
{
border:none;
background:rgb(112, 21, 250);
font-size: 12px;
font-weight: bold;
position: relative;
left:180px;
line-height:40px;
width:150px;
font-family: 'Roboto', sans-serif;
color:white;
}
#btn-2:hover{
    color:grey;
    background: white;
}
.page-l
{
    width:30%;
    height:100vh;
    background:#0B053D;
    border:1px solid #0B053D;
}
.page-l img
{
    margin-left:40px;
    margin-top:10px;
    
}
.page1
{
    width:100%;
    height: 150vh;
    padding:1px ;
    background: #070329;
}
.page1 h1
{
    color:#670BF5;
    font-family: 'Montserrat', sans-serif;
    font-size:80px;
    font-weight: normal;
    text-align: center;
    margin-top:90px;
}
.line1
{
    width:70%;
    height:50vh;
justify-content: space-between;
    margin-left:200px ;
    margin-top:80px;
    display: flex;
}
.box
{
    width:31%;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items:space-between;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:white;
    cursor: pointer;
}
.box:hover
{
    border:2px solid #670BF5
}
.box1:hover
{
    border:2px solid #670BF5;
  
}
.box i{
    color:white;
    font-size: 60px;
    margin-top:20px;
}
.box i:hover
{
    color:#670BF5;
}
.box1 i:hover
{
    color:#670BF5;
}
.box h1
{
    color:white;
    font-size:25px;
    margin-top:10px
}
.box p
{
    margin-top:40px;
}
.line2
{
    width:70%;
    height:50vh;
    margin-left:200px ;
    margin-top:-30px;
    display: flex;
    justify-content: space-between;
}
.box1
{
    width:31%;
    height:40vh;
    display: flex;
    flex-direction: column;
    align-items:space-between;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:white;
}
.box1 i{
    color:white;
    font-size: 60px;
    margin-top:20px;
}
.box1 h1
{
    color:white;
    font-size:25px;
    margin-top:10px
}
.box1 p
{
    margin-top:40px;
}
.page2
{
    width:100%;
    height:100vh;
    border:1px solid;
display:flex;

}
.man
{
    background-attachment: fixed;
    background-image: url("men1.webp");
    width:40%;
    height:100vh;

}
.left
{
    width:60%;
    height:100vh;
    background: #0B053D;
}
.left h1
{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:80px;
    font-weight: normal;
    margin-left:100px;
    margin-top:80px;
}
.left h2
{
    color:#670BF5;
    font-family: 'Montserrat', sans-serif;
    font-size:80px;
    font-weight: normal;
    margin-left:100px;
    margin-top:-30px;
}
.left p
{
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin-left:110px;
    font-size:15px;
    margin-top:40px;
    line-height:1.5rem;
}
.page3
{
    width:100%;
    height:130vh;
    background:#070329;
    padding:1px;
    display: flex;
    flex-direction:column;
    align-items:space-around;
}
.page3 h1{
color:white;
font-family: 'Montserrat', sans-serif;
font-size:75px;
font-weight: normal;
text-align: center;
margin-top:50px;
color:#670BF5;
}
.pics
  {
    width:180%;
    height:60vh;
    overflow-x: hidden;
    margin-top:70px;
    display:flex;
    justify-content: space-between;
   animation:slide 5s infinite  ;
}
@keyframes slide 
{
0%{
    margin-left:-0;

}
50%{
    margin-left:-35%;


}
80%{
    margin-left:-65%;
}
100%
{
    margin-left:-85%;
}
}
   
.pics img
{
    width:380px;
    height:350px;
}
#btn-3
{
border:2px solid;
background:transparent;

position: relative;
left:580px;
top:120px;
line-height:40px;
width:200px;
font-family: 'Roboto', sans-serif;
color:white;
cursor: pointer;
}
#btn-3:hover{
    color:grey;
    background: white;
  border: none;
}
.page4
{
    width:100%;
    height:100vh;
    background: #0B053D;
    display:flex;
    justify-content: space-around;
}
.page4left
{
    width:48%;
    height:90vh;
    
}
.page4left h1
{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size:70px;
    font-weight: normal;
    margin-left:100px;
    margin-top:80px;
}
.page4left h2
{
    color:#670BF5;
    font-family: 'Montserrat', sans-serif;
    font-size:70px;
    font-weight: normal;
    margin-left:100px;
    margin-top: -28px;
   
}
.page4left p
{
    font-family: 'Montserrat', sans-serif;   
    color:white;
    font-weight: normal;
    margin-top: 20px;
   
    margin-left:100px;
}
.page4left h5
{
    font-family: 'Montserrat', sans-serif;   
    color:white;
    font-weight: normal;
    margin-top: 70px;
   
    margin-left:100px;
}
.ic{
    margin-left:100px;
}
.ic i{
    color:white;
    margin-left:10px;
    font-size:40px;
    margin-top:20px
}
.linewise
{
    width:60%;
    height:5vh;
    border-bottom: 1px solid white;
    font-weight: normal;
    color:white;
    font-family: 'Montserrat', sans-serif;   
    margin-top:100px;
    margin-left:70px;

}
.linewise:hover
{
    border-bottom: 2px solid white;
}
.linewise1:hover
{
    border-bottom: 2px solid white;
}
.linewise2:hover
{
    border-bottom: 2px solid white;
}
.linewise1
{
    width:60%;
    height:5vh;
    border-bottom: 1px solid white;
    font-weight: normal;
    color:white;
    font-family: 'Montserrat', sans-serif;   
    margin-top:40px;
    margin-left:70px;
}
.linewise2
{
    width:60%;
    height:15vh;
    border-bottom: 1px solid white;
    font-weight: normal;
    color:white;
    font-family: 'Montserrat', sans-serif;   
    margin-top:40px;
    margin-left:70px;
}
#btn-4
{
border:2px solid;
background:transparent;
position: relative;
left:80px;
top:30px;
line-height:40px;
width:150px;
font-family: 'Roboto', sans-serif;
color:white;
cursor: pointer;
}
#btn-4:hover{
    color:grey;
    background: white;
  border: none;
}